<h1><%= @employee.to_s%></h1>
<ul>
<li>
<p> Alias: <%= @employee.alias %></p> <br>
<p> Title: <%= @employee.title %></p> <br>
<p> Office: <%= @employee.office%></p> <br>
<p> Dog Name: <%= @employee.dog.name%></p> <br>
<img src="<%= @employee.img_url%>">
</li>
</ul>